<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body class="enterprise">
<h2 class="title">
  <a href="&lt;%=%20@item.path%20%&gt;"></a>
</h2>

<div class="meta">
  <ul>
  <li class="published">
    <span class="octicon octicon-calendar"></span>
    
    
      / Version: <a href="/enterprise/2.4/changes/&lt;%=%20version%20%&gt;"></a>
    
  </li>
  <li class="who_when">
    
      <a href="https://github.com/&lt;%=%20@item%5B:author_name%5D%20%&gt;"></a>
  </li>
</ul>
</div>
</body></html>
