---
title: GitHub API v3
new_version: v3
old_version: beta
---

# API `<%= @item[:old_version] %>` to `<%= @item[:new_version] %>`

<dl>
<dt>Old Mime Type</dt>
<dd><%= api_mimetype_listing @item[:old_version] %></dd>
<dt>New Mime Type</dt>
<dd><%= api_mimetype_listing @item[:new_version] %></dd>
<% if no_current_api_versions?(@item[:old_version], @item[:new_version]) %>
<dt>Current Mime Type</dt>
<dd><%= api_mimetype_listing current_api %></dd>
<% end %>
</dl>

This is the first major revision from API v3 since its initial launch.  **It is
currently not available yet**.

<%= render '_changes', :changes => api_changes(:v3) %>

