@font-face {
  font-family: 'octiconsregular';
  src: url('octicons-regular-webfont.eot');
  src: url('octicons-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('octicons-regular-webfont.woff') format('woff'),
       url('octicons-regular-webfont.svg#octiconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*------------------------------------------------------------------------------
     Icon Styles
------------------------------------------------------------------------------*/

.mega-icon {
  font-family: 'octiconsregular';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.mega-icon-invertocat:before {
  content: "\f00a";
}

.octicon-calendar:before {
  content: "\f068";
}

.octicon {
  font: normal normal 16px "octiconsregular";
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

/* end */

/*------------------------------------------------------------------------------
     Global Documentation Styles
------------------------------------------------------------------------------*/

html {
  height:100%;
}

body {
  font: 13px helvetica,arial,freesans,clean,sans-serif;
  line-height: 1.4em;
  background-color: #fff;
  color: #393939;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

p {
  margin: 1em 0;
}

h1 {
  font-size: 20px;
  border-bottom: 1px solid #cccccc;
  padding: .5em 0;
  margin: 2em 0 1em;
}

h1:first-child {
  margin: 0 0 1em;
}

h2 {
  font-size: 16px;
  color: #333;
  margin: 2em auto 1em;
}

  body.api .content h2 {
    background: transparent url(../images/crud-sprite.png) left 2px no-repeat;
    padding-left: 22px;
    margin-bottom: 0.5em;
    margin-top: 1em;
  }

  body.api .change h2.title {
    background: none;
    line-height: 1.2em;
    margin-bottom: 10px;
    padding-left: 0;
    font-size:24px;
  }

h2 span.step {
  color: #666;
}

h3 {
  font-size: 14px;
  color: #333;
  margin: 1.5em 0 .5em;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 13px;
  color: #666;
}

a {
  color: #4183C4;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration:underline;
}

blockquote {
  margin:0 -5px;
  padding: 0px 20px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
}

dt {
  font-weight: bold;
}

dd {
  padding-left: 1em;
  margin-bottom: 1em;
}

dd + dd {
  margin-bottom: 0;
}

span.attention,
p.attention {
  color: #e98400;
  font-style: italic;
}

a img {
  border: 0px;
}

.button, .button-secondary {
	background-color: #297fc7;
	color: #fff;
	font-size: 16px;
	padding: 15px 10px;
	border-radius: 5px;
}

.button:hover {
	text-decoration: none;
	background-color: #3088d0;	
}

.button-secondary {
	background-color: #738797;
	font-size: 15px;
	padding: 11px 10px;
}

.button-secondary:hover {
	text-decoration: none;
	background-color: #7e909e;	
}

/*------------------------------------------------------------------------------
     Header Styles
------------------------------------------------------------------------------*/

#header-wrapper {
  margin-bottom: 0;
  clear: both;
  height: 61px;
  background: url(../images/header.png) 0 0 repeat-x;
}

#header {
  margin: 0 auto;
  max-width: 980px;
  position: relative;
}

#header .logo {
  float: left;
  margin-top: 17px;
  display: inline-block;
}

#header .nav {
  position: absolute;
  right: 0;
  top: 20px;
  font-weight: bold;
  text-shadow: white 1px 1px 0px;
  font-size: 14px;
}

#header .nav li {
	display: inline-block;
  margin: 0;
  list-style-type: none;
  line-height: 1.4em;
}

#header .nav a {
	color: #515151;
  outline: none;
  text-decoration: none;
  padding: 20px 11px;
}

/*------------------------------------------------------------------------------
     Features
------------------------------------------------------------------------------*/

.wrapper {
	max-width: 980px;
	margin: 0 auto;
}

.feature {
	position: relative;
	height: 455px;
	overflow: hidden;
}

.feature h1 {
	border: none;
	font-weight: normal;
	font-size: 42px;
	line-height: 1.2em;
	-webkit-backface-visibility: hidden;
	padding: 0;
	margin: 86px 0 0 0;
}

.feature .intro {
	color: #666666;
	font-size: 18px;
	line-height: 1.5em;
	max-width: 400px;
}

.feature .button, .highlights .button-secondary {
	display: inline-block;
}

.feature .labtocat {
	position: absolute;
	right: 0;
	top: 30px;
}

.full-width-divider {
	width: 100%;
	background: #f2f2f2;
	border-top: 1px solid rgba(0,0,0,0.15);
	border-bottom: 1px solid rgba(0,0,0,0.15);
	overflow: hidden;
}

.highlights li {
	list-style-type: none;
	display: table-cell;
	padding: 0 10px;
	text-align: center;
	margin-top: 10px;
	font-size: 14px;
	line-height: 1.5em;
}

.highlights h2 {
	margin: 40px 0 20px;
	font-size: 24px;
	font-weight: normal;
	-webkit-backface-visibility: hidden;
}

.highlights .octocat {
	display: block;
	margin: 30px auto -20px;
}

.full-width-divider + .api-status {
	margin-top: -1px;
}

/*------------------------------------------------------------------------------
     Sidebar
------------------------------------------------------------------------------*/

.sidebar-shell {
  position: relative;
  float: right;
  margin: 35px 0 0;
}

.sidebar-module {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  width: 332px;
  margin-bottom: 20px;
  font-size: 12px;
}

.sidebar-module ul {
  margin: 0px;
}

.sidebar-module > p {
  background: #fafafb;
  border: solid #CACACA;
  border-width: 1px;
  padding: 8px 10px;
  margin: 0px;
  display: block;
  line-height: 1.4em;
}

.sidebar-module li {
  list-style-type: none;
}

.sidebar-module ul h3 {
  margin: 0px;
  color: #666;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

div.sidebar-module h3 a,
div.sidebar-module h3.disable span {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  color: #666;
  display: block;
  text-decoration: none;
}

div.sidebar-module h3.disable span {
  padding-left: 20px;
  background-image: url(../images/active-arrow.png);
  background-position: left center;
  background-repeat: no-repeat;
  cursor: default;
}

.sidebar-module h3:hover a {
  text-decoration: none;
  color: #333;
}

div.sidebar-module ul ul,
div.sidebar-module .spacer {
  display: block;
  padding-bottom: 2px;
  /** TODO: Remove this entire module? **/
}

div.sidebar-module ul ul li {
  border-bottom: 1px solid #eee;
  font-weight: bold;
  color: #666;
}

div.sidebar-module li.disable {
  background-image: url(../images/active-arrow.png);
  background-position: left center;
  background-repeat: no-repeat;
}

.sidebar-module ul ul li a,
.sidebar-module ul ul li span {
  padding: 6px 0px 6px 10px;
  display: block;
  text-decoration: none;
}

div.sidebar-module ul ul li span {
  padding-left: 20px;
  cursor: default;
}

/* @end */

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

.api-status {
	text-align: center;
	padding: 20px 0;
	border-top: 1px solid #ddd;	
	max-width: 980px;
	margin: 0 auto;
	font-size: 14px;
}

.api-status a {
	color: #999;
}

.api-status a:hover {
	text-decoration: none;
	color: #777;
}

.api-status img {
	display: block;
	margin: 6px auto 0;
}

#footer {
  position: relative;
  bottom:0;
  font-size:13px;
  color: #636363;
  margin: 0 auto;
  max-width: 980px;
}

#footer a:hover {
  text-decoration: underline;
}

#footer li {
  list-style: none;
}

#footer .upper_footer {
  border-top: 1px solid #ddd;
  min-height: 160px;
  overflow: hidden;
  font-size: 12px;
}

#footer .upper_footer ul.footer_nav {
  position: relative;
  float: left;
  width: 25%;
  margin: 20px 0px;
}

#footer .mega-icon {
  color: #ccc;
}

#footer .mega-icon:hover {
  color: #bbb;
  text-decoration: none;
}

.lower_footer {
  border-top: 1px solid #ddd;
  width: 100%;
  padding: 15px 0 20px;
}

.footer-cell {
  display: table-cell;
  text-align: center;
  width: 10%;
  vertical-align: middle;
  font-size: 12px;
  padding: 0 10px;
}

.footer-cell:first-child {
  text-align: left;
  padding-left: 0;
}

.footer-cell:last-child {
  text-align: right;
  padding-right: 0;
}

.footer-cell > li {
  display: inline;
  margin-right: 20px;
}

/* end */

/*------------------------------------------------------------------------------
    Not Footer
------------------------------------------------------------------------------*/
#wrapper {
  padding: 20px 0;
  overflow:hidden;
  height: auto;
  max-width: 980px;
  margin: 0 auto;
}

.content {
  width: 610px;
  position: relative;
  float: left;
  color: #393939;
  z-index: 2;
}

.content dl {
  margin-left: 10px;
}

.content dt {
  color: #666;
}

.content ol {
  margin-left: 1.5em;
}

.content ul {
  margin: 1.5em;
  list-style-type: disc;
}

.content dd ul {
  margin-top: 0;
}

.content li {
  line-height: 1.7em;
}

.content img {
  max-width: 100%;
  border: 1px solid #dddddd;
  -webkit-box-shadow: 1px 1px 3px #ddd;
  -moz-box-shadow: 1px 1px 3px #ddd;
  box-shadow: 1px 1px 3px #ddd;
}


.content .description {
  margin-left: 20px;
}

.content .verseblock-content {
  padding: 3px;
}

.content .verseblock-content,
.content .sectionbody .dlist dt,
.content p > tt,
.content dl code,
.content ul code,
p code {
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  color: #52595d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 0px 3px;
  display: inline-block;
}

.content .sectionbody .dlist dt {
  margin-top: 10px;
}

.content .verseblock-content {
  padding: 3px;
}

.content .intro {
  color: #868686;
}

.article-content ul {
  margin: 1.5em;
}

.change {
  padding-bottom: 1em;
}


  .change .meta {
    font-size: 14px;
  }

  .who_when a {
    padding-left: 6px;
    color: #999;
  }

    .change .who_when .author {
      color: #eee;
    }

    .change .who_when .published {
      color: #ccc;
    }

  .meta {
    margin-left: -19px;
    margin-top: -15px;
  }

  .meta li {
    color: #999;
    padding-right: 20px;
    list-style: none;
    display: inline;
  }

  .published span {
    color: #999;
    vertical-align: middle;
    padding-bottom: 3px;
  }

/* @end */

/*------------------------------------------------------------------------------
     Pre/Code Styles
------------------------------------------------------------------------------*/

code {white-space: nowrap;}

pre {
  border: 1px solid #cacaca;
  line-height: 1.2em;
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  padding: 10px;
  overflow:auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #FAFAFB;
  color: #393939;
  margin: 0px;
}

ul + pre {
  margin-top: 1em;
}

pre code {white-space: pre;}

pre span.comment {color: #aaa;}

pre.headers {
  margin-bottom: 0;
  border-bottom-width: 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  color: #666;
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: -ms-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: -o-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e1e1e1));
  background-image: -webkit-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: linear-gradient(top, #f1f1f1, #e1e1e1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#e1e1e1');
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

pre.no-response {
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px 3px;
  border-radius: 3px 3px;
  border-bottom: 1px solid #CACACA;
}

pre.headers + pre.highlight {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

pre.highlight {
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  background-color: #FAFAFB;
}

pre.terminal {
  background-color: #444;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 2px solid #DEDEDE;
  position: relative;
  padding: 10px;
  text-shadow: none;
  background-image: none;
  filter: none;
}

pre.terminal em {
  color: #f9fe64;
}

span.codeline {
  display: block;
  position: relative;
}

span.codeline:hover {
  background-color: #292929;
  margin: 0px;
  padding-left: 3px;
  margin-left: -3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #666666;
}

span.codeline span {
  display: inline-block;
  font-size: 10px;
  color: #fff;
  padding: 0 0.3em 0.05em;
  position: absolute;
  right: 0px;
  top: 0px;
  text-indent: -9999px;
  background-image: url(../images/qmark.png);
  background-repeat: no-repeat;
  background-position: 1px 3px;
  max-width: 8px;
  min-width: 8px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}

span.codeline span:hover {
  display: inline-block;
  text-indent: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #000;
  border: 1px solid #292929;
  max-width: 1000px;
}

span.codeline:hover em {
  color: #666666;
}

pre.bootcamp {
  white-space: normal;
  margin-left: -10px;
  background-image: none;
}

span.bash-output {
  color: #63e463;
  display: block;
  position: relative;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

/* end */

/*------------------------------------------------------------------------------
    More Info Expander
------------------------------------------------------------------------------*/

.more-info {
  margin: 10px 0;
  position: relative;
}
.more-info > h4 {
  background-image: url('../images/dropdown_sprites.jpg');
  background-repeat: no-repeat;
  padding: .25em 0 .25em 25px;
  cursor: pointer;
  color: #4183C4;
  font-weight: normal;
}
.more-info h4.compressed {
  background-position: 0 0;
}
.more-info:hover h4.compressed {
  background-position: 0 -23px;
}
.more-info h4.expanded {
  background-position: 0 -46px;
}
.more-info:hover h4.expanded {
  background-position: 0 -69px;
}

.more-info .more-content {
  display: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #FFFFFF;
  border: 3px solid #DDDDDD;
  padding: 1em 2em;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  margin: 15px 0 30px;
}

.more-info .more-content h4 {
  margin-top: 1em;
}

.more-info .more-content pre {
  margin-left: 0px;
}

/****************************/
/*       List Module        */
/****************************/

.list-module h2 {
  border: solid #cacaca;
  border-width: 1px;
  border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 6px 10px;
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: -ms-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: -o-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e1e1e1));
  background-image: -webkit-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: linear-gradient(top, #f1f1f1, #e1e1e1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#e1e1e1');
  color: #666;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 22px;
  margin: 0px;
}

.list-module .list-body {
  border: solid #cacaca;
  border-width: 0px 1px 1px 1px;
  border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fafafb;
  color: #666;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.list-module .list-body .icon {
  display: block;
  height: 28px;
  width: 28px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: transparent url(images/popular_guide_sprites.png) 0 0 no-repeat;
}

.list-module a {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e9ecee;
  padding: 6px 10px;
  position: relative;
  display: block;
}

.list-module a:hover {
  border-top: 1px solid #fafafb;
  border-bottom: 1px solid #e5e8ea;
  background-color: #f0f0f3;
  text-decoration: none;
}

.list-module a h3 {
  color: #4183C4;
}

.list-module a:hover h3 {
  text-decoration: underline;
}

.list-module ul {
  list-style-type: none;
  margin: 0px;
}

.list-module h3 {
  margin: 0px;
  font-size: 13px;
}

.list-module .list-body a p {
  color: #666;
  margin: 0px;
}

/* @end */

/****************************/
/*  Expandable List Module  */
/****************************/

div.expandable h3 a {
  display: table-cell;
}

.arrow-btn {
  background-image: url(/shared/images/expand-arrows.png);
	background-repeat: no-repeat;
	background-position: 0px -3px;
	width: 13px;
  padding: 8px 11px;
  background-color: #f7f7f7;
  display: table-cell;
  text-decoration: none;
}

.arrow-btn.expanded {
  background-position: -38px -3px;
}

.arrow-btn.collapsed:hover {
  background-image: url(/shared/images/expand-arrows.png);
  background-position: 0px -43px;
}

.arrow-btn.expanded:hover {
  background-position: -38px -43px;
}

.alert {
  position:relative;
  margin:0 auto;
  padding:5px;
  font-size:12px;
  color:#264c72;
  border: 1px solid #97c1da;
  border-radius: 3px;
  background-color: #d8ebf8;
  background: -moz-linear-gradient(#d8ebf8, #d0e3ef);
  background: -webkit-linear-gradient(#d8ebf8, #d0e3ef);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8ebf8', endColorstr='#d0e3ef')"; /* IE8+ */
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.alert:first-child { margin-top: 0 }
.alert:last-child { margin-bottom: 0 }

li.api-status a.good {
  color: #227b41;
}

li.api-status a.minor {
  color: #ed8b3f;
}

li.api-status a.major {
  color: #ad1a05;
}

li.api-status img {
  float: left;
  margin: 0 5px 0 0;
}
/* @end */
