<%= render 'head' %>

<body class="api">
  <%= render 'header' %>

  <div class="sub-nav">
    <h2><a href="/v3/">API</a></h2>

    <ul>
      <li><a href="/v3/" class="active">Reference</a></li>
      <li><a href="/webhooks/">Webhooks</a></li>
      <li><a href="/guides/">Guides</a></li>
      <li><a href="/libraries/">Libraries</a></li>
    </ul>
  </div>

  <div id="wrapper">
    <div class="content">
      <%= yield %>
    </div>

    <%= render 'sidebar' %>
  </div><!-- #wrapper -->

  <%= render 'footer' %>
</body>
</html>
