<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <meta http-equiv="imagetoolbar" content="false" />
  <meta name="MSSmartTagsPreventParsing" content="true" />
  <title><%= @item[:title] %></title>
  <link href="/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="/css/960.css" rel="stylesheet" type="text/css" />
  <link href="/css/styles.css" rel="stylesheet" type="text/css" />
  <link href="/css/pygments.css" rel="stylesheet" type="text/css" />
  <link href="/css/uv_active4d.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="container_12" id="wrapper">
  <div class="grid_9 suffix_1" id="content">
<%= yield %>
  </div>
  <div class="grid_2" id="sidebar">

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/v3">Summary</a></li>
  <li>
    <a href="/v3/issues">Issues</a>
    <ul>
      <li><a href="/v3/issues/comments">Comments</a></li>
      <li><a href="/v3/issues/labels">Labels</a></li>
      <li><a href="/v3/issues/milestones">Milestones</a></li>
    </ul>
  </li>
  <li>
    <a href="/v3/gists">Gists</a>
    <ul>
      <li><a href="/v3/gists/comments">Comments</a></li>
    </ul>
  </li>
  <li><a
    href="http://support.github.com/discussions/api">Support</a></li>
</ul>

  </div>
</div>

</body>
</html>
