	<div class="api-status"></div>
	
	<div id="footer" >
    <div class="upper_footer">
      <div class="footer_inner clearfix">

      <ul class="footer_nav">
        <h4>GitHub</h4>
        <li><a href="https://github.com/about">About</a></li>
        <li><a href="https://github.com/blog">Blog</a></li>
        <li><a href="https://github.com/features">Features</a></li>
        <li><a href="https://github.com/contact">Contact &amp; Support</a></li>
        <li><a href="https://github.com/training">Training</a></li>
        <li><a href="http://status.github.com/">Site Status</a></li>
      </ul>

      <ul class="footer_nav">
        <h4>Tools</h4>
        <li><a href="http://mac.github.com/">GitHub for Mac</a></li>
        <li><a href="http://mobile.github.com/">Issues for iPhone</a></li>
        <li><a href="https://gist.github.com">Gist: Code Snippets</a></li>
        <li><a href="http://enterprise.github.com/">GitHub Enterprise</a></li>
        <li><a href="http://jobs.github.com/">Job Board</a></li>
      </ul>

      <ul class="footer_nav">
        <h4>Extras</h4>
        <li><a href="http://shop.github.com/">GitHub Shop</a></li>
        <li><a href="http://octodex.github.com/">The Octodex</a></li>
      </ul>

      <ul class="footer_nav">
        <h4>Documentation</h4>
        <li><a href="http://help.github.com/">GitHub Help</a></li>
        <li><a href="http://developer.github.com/">Developer API</a></li>
        <li><a href="http://github.github.com/github-flavored-markdown/">GitHub Flavored Markdown</a></li>
        <li><a href="http://pages.github.com/">GitHub Pages</a></li>
      </ul>

      </div><!-- /.site -->
    </div><!-- /.upper_footer -->

    <div class="lower_footer">
      <ul class="footer-cell">
        <li><a href="http://help.github.com/terms-of-service/">Terms of Service</a></li>
        <li><a href="http://help.github.com/privacy-policy/">Privacy</a></li>
        <li><a href="http://help.github.com/security/">Security</a></li>
      </ul>

      <span class="footer-cell">
        <a href="https://github.com" class="mega-icon mega-icon-invertocat"></a>
      </span>

      <span class="footer-cell">
        Design &copy; <span class="js-year">2013</span> GitHub, Inc. All rights reserved.
        <p>
          Except where otherwise noted, content on this site is licensed under a
          <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons CC-BY license</a>.
        </p>
      </span>
    </div>

  </div><!-- /#footer -->
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4f2038e0cb25bc1b55000003');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>