  <div id="footer" >
    <div class="lower_footer">
      <ul class="footer-cell">
        <li><a href="https://github.com/github/developer.github.com#licenses">&copy; <%= Time.now.year %> GitHub, Inc.</a></li>
        <li><a href="https://help.github.com/terms-of-service/">Terms</a></li>
        <li><a href="https://help.github.com/privacy-policy/">Privacy</a></li>
        <li><a href="https://help.github.com/security/">Security</a></li>
        <li><a href="https://github.com/contact">Contact</a></li>
      </ul>

      <span class="footer-cell">
        <a href="https://github.com" class="mega-octicon octicon-mark-github"></a>
      </span>

      <ul class="footer-cell">
        <li><a href="https://status.github.com/">Status</a></li>
        <li><a href="http://training.github.com/">Training</a></li>
        <li><a href="http://shop.github.com/">Shop</a></li>
        <li><a href="https://github.com/blog">Blog</a></li>
        <li><a href="https://github.com/about">About</a></li>
      </ul>
    </div>

  </div><!-- /#footer -->
  <script>
    !function(g,i,t,h,u,b){g.GoogleAnalyticsObject=h,g[h]||(g[h]=function(){
    (g[h].q=g[h].q||[]).push(arguments)}),g[h].l=+new Date,u=i.createElement(t),
    b=i.getElementsByTagName(t)[0],u.src="//www.google-analytics.com/analytics.js",
    b.parentNode.insertBefore(u,b)}(this,document,"script","ga");

    ga('create', 'UA-3769691-37', 'github.com');
    ga('send', 'pageview');
  </script>
