<%= render 'head' %>

<body class="api">
  <%= render 'header' %>

  <div class="sub-nav">
    <h2><a href="/v3/">API</a></h2>

    <ul>
      <li><a href="/v3/">Reference</a></li>
      <li><a href="/webhooks/">Webhooks</a></li>
      <li><a href="/guides/" class="active">Guides</a></li>
      <li><a href="/libraries/">Libraries</a></li>
    </ul>
  </div>

  <div id="wrapper">
    <div class="content">
      <%= yield %>
    </div>

    <div id="js-sidebar" class="sidebar-shell">
      <div class="sidebar-module">
        <ul>
          <li><h3><a href="/guides/">Overview</a></h3></li>
          <li><h3><a href="/guides/getting-started/">Getting started</a></h3></li>
          <li><h3><a href="/guides/basics-of-authentication/">Basics of authentication</a></h3></li>
          <li><h3><a href="/guides/rendering-data-as-graphs/">Rendering data as graphs</a></h3></li>
          <li><h3><a href="/guides/working-with-comments/">Working with comments</a></h3></li>
          <li><h3><a href="/guides/traversing-with-pagination/">Traversing with pagination</a></h3></li>
          <li><h3><a href="/guides/building-a-ci-server/">Building a CI server</a></h3></li>
          <li><h3><a href="/guides/delivering-deployments/">Delivering deployments</a></h3></li>
          <li><h3><a href="/guides/managing-deploy-keys/">Managing deploy keys</a></h3></li>
          <li><h3><a href="/guides/using-ssh-agent-forwarding/">Using SSH agent forwarding</a></h3></li>
        </ul>
      </div>

      <div class="sidebar-module notice">
        <p>This website is a <a href="https://github.com/github/developer.github.com" target="_blank">public GitHub repository</a>. Please help us by forking the project and adding to it.</p>
      </div>
      <div class="sidebar-module api-status"><a href="https://status.github.com" class="unknown">API Status</a></div>
    </div><!-- sidebar-shell -->
  </div><!-- #wrapper -->

  <%= render 'footer' %>
</body>
</html>
