<%= render 'head' %>

<body class="api">
	<%= render 'header' %>
	
	<div class="sub-nav">
		<h2><a href="/guides/">Guides</a></h2>
		
		<ul>
      <li><a href="/guides/getting-started/">Getting Started</a></li>
      <li><a href="/guides/basics-of-authentication/">Authentication</a></li>
      <li><a href="/guides/rendering-data-as-graphs/">Data as Graphs</a></li>
      <li><a href="/guides/working-with-comments/">Working with Comments</a></li>
		</ul>
	</div>
	
	<div class="wrapper guides">
		<%= yield %>
	</div>
		
	<%= render 'footer' %>
</body>
</html>
