<div id="header-wrapper">
  <div id="header">
    <div>
      <a class="logo" href="/">GitHub:Developer</a>
      <ul class="nav">
        <li><a href="/v3/" class="nav-api">API</a></li>
        <li><a href="/program/" class="nav-developers">Developers</a></li>
        <li><a href="/changes/" class="nav-blog">Blog</a></li>
        <li><a href="https://github.com/contact">Support</a></li>
        <li id="search-container">
          <input type="text" id="searchfield" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" /><label class="search-placeholder">Search</label>
          <div class="cancel-search"></div>
          <ul id="search-results">

          </ul>
        </li>
      </ul>
    </div>
  </div><!-- #header -->
</div><!-- #header-wrapper -->
