<div id="header-wrapper">
  <div id="header">
    <div>
      <a class="logo" href="/"><img src="/images/logo_developer.png" height="27" alt="GitHub:Developer" /></a>
      <ul class="nav">
        <li><a href="/">Overview</a></li>
        <li><a href="/guides/">Guides</a></li>
        <li><a href="/v3/">API</a></li>
        <li><a href="/libraries/">Libraries</a></li>
        <li><a href="/changes/">Changes</a></li>
        <li><a href="https://github.com/contact">Support</a></li>
      </ul>
    </div>
  </div><!-- #header -->
</div><!-- #header-wrapper -->