<%= render 'head' %>

<body class="api">
  <%= render 'header' %>

  <div class="sub-nav">
    <h2><a href="/v3/">API</a></h2>

    <ul>
      <li><a href="/v3/">Reference</a></li>
      <li><a href="/webhooks/" class="active">Webhooks</a></li>
      <li><a href="/guides/">Guides</a></li>
      <li><a href="/libraries/">Libraries</a></li>
    </ul>
  </div>

  <div id="wrapper">
    <div class="content">
      <%= yield %>
    </div>

    <div id="js-sidebar" class="sidebar-shell">
      <div class="sidebar-module">
        <ul>
          <li><h3><a href="/webhooks/creating">Creating Webhooks</a></h3></li>
          <li><h3><a href="/webhooks/configuring/">Configuring Your Server</a></h3></li>
          <li><h3><a href="/webhooks/testing/">Testing Webhooks</a></h3></li>
          <li><h3><a href="/webhooks/securing">Securing Your Webhooks</a></h3></li>
        </ul>
      </div>

      <div class="sidebar-module notice">
        <p>This website is a <a href="https://github.com/github/developer.github.com" target="_blank">public GitHub repository</a>. Please help us by forking the project and adding to it.</p>
      </div>
      <div class="sidebar-module api-status"><a href="https://status.github.com" class="unknown">API Status</a></div>
    </div><!-- sidebar-shell -->
  </div><!-- #wrapper -->
  </div><!-- #wrapper -->

  <%= render 'footer' %>
</body>
</html>
