body {
  font: 16px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  line-height: 175%;
  background-color: #fff;
  color: #000;
}

a {
  color: #4183C4;
}

a:active, a:hover {
  color: #4183C4;
  text-decoration:none;
}

blockquote {
  margin:0 -5px;
  padding:5px 30px 5px 50px;
  font-size:14px;
}

h1 {
  font-size: 1.25em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1em;
  margin:1em 0;
  border-top: solid 4px #ddd;
  padding-top: 1em;
}

h3 {
  font-size: 1em;
  margin-bottom: 0.5em;
  font-weight: normal;
  color: #444;
  text-transform:uppercase;
  letter-spacing: 1px;
}

p {
  margin-bottom: 1em;
}

pre {
  font-size: 14px;
  margin-bottom: 1em;
  padding: 1em;
  overflow:auto;
}

pre.headers {
  margin-bottom: 0;
  border-bottom-width: 0;
}

pre, code {
  border: solid 2px #ddd;
  background-color: #eee;
  line-height: 1.2em;
}

pre.highlight code { background-color:#fff }

pre code { border-width: 0px; }

.terminal {
  background-color: #000;
  color: #eee;
}

ul {
  list-style-type: none;
  margin-bottom: 1em;
}

ul ul {
  padding-left: 1em;
  margin-bottom: 0
}

dt {
  font-weight: bold;
}

dd {
  padding-left: 1em;
  margin-bottom: 1em;
}

dd + dd {
  margin-bottom: 0;
}

.nav li:first-child {
  padding-left: 0;
  background-image: none;
}

.nav li {
  list-style-type: none;
  padding-left: 20px;
  background: 10px 50% no-repeat url(data:image/gif;base64,R0lGODlhAQATAKIEAGCl0GGm0mGm0WKn0v///wAAAAAAAAAAACH5BAEAAAQALAAAAAABABMAAAMJGAQkTQPKqEQCADs=);
}

#header-wrapper {
  padding:1em 0;
  margin-bottom: 0;
  background-color: #F9F9F9;
  border-bottom: solid 2px #ddd;
  clear: both;
  height: 56px;
}

#header .logo {
  float: left;
}

#header .nav {
  float: right;
}

#header .nav li {
  float: left;
  height: 56px;
  line-height: 56px;
  margin: 2px 0 0 0;
}

#wrapper {
  overflow:hidden;
  height: auto;
  min-height: 80%;
}

#sidebar {
  padding-top: 1em;
}

#content {
  padding: 1em 0;
}

#content ul,
#content ol {
  margin-left: 1em;
}

#content ul {
  list-style-type: disc;
}

#footer-wrapper {
  border-top: solid 2px #ddd;
  background-color: #222;
  padding: 1em 0;
  color: #eee;
  height: 4em;
}

#footer {
  font-size: 12px;
  line-height: 100%;
}

#footer .rackspace {
  line-height: 1.5em;
  padding: 1.1em 1em 1em 65px;
  color: #666;
  background: url(/images/rackspace_logo.png) 1.2em 50% no-repeat #f1f1f1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.rackspace a,
.rackspace a:active,
.rackspace a:hover {
  color: #333;
}

#bottom-nav {
  padding-top: 0.9em;
}

#footer .nav,
#footer .nav li {
  margin:0;
}

#footer .nav li {
  display: inline;
  line-height: 2em;
}
