body {
  font: 16px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  line-height: 175%;
}

a {
  color: #4183C4;
}

a:active, a:hover {
  color: #4183C4;
  text-decoration:none;
}

blockquote {
  margin:0 -5px;
  padding:5px 30px 5px 50px;
  font-size:14px;
}

h1 {
  font-size: 1.25em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1em;
  margin:1em 0;
  border-top: solid 4px #ddd;
  padding-top: 1em;
}

h3 {
  font-size: 1em;
  margin-bottom: 0.5em;
  font-weight: normal;
  color: #444;
  text-transform:uppercase;
  letter-spacing: 1px;
}

p {
  margin-bottom: 0.5em;
}

pre {
  font-size: 14px;
  margin-bottom: 1em;
  padding: 1em;
  overflow:auto;
}

pre, code {
  border: solid 2px #ddd;
  background-color: #eee;
  line-height: 1.2em;
}

pre.highlight code { background-color:#fff }

pre code { border-width: 0px; }

.terminal {
  background-color: #000;
  color: #eee;
}

ul {
  list-style-type: none;
  margin-bottom: 1em;
}

ul ul {
  padding-left: 1em;
  margin-bottom: 0
}

dt {
  font-weight: bold;
}

dd {
  padding-left: 1em;
  margin-bottom: 1em;
}

dd + dd {
  margin-bottom: 0;
}

#header-wrapper {
  padding:1em 0;
  margin-bottom: 0;
  background-color: #F9F9F9;
  border-bottom: solid 2px #ddd;
  clear: both;
  height: 56px;
}

.logo {
  float: left;
}

.nav {
  float: right;
}

.nav li:first-child {
  padding-left: 0;
  background-image: none;
}

.nav li {
  list-style-type: none;
  float: left;
  margin: 2px 0 0 0;
  height: 56px;
  padding-left: 20px;
  line-height: 56px;
  background: 10px 50% no-repeat url(data:image/gif;base64,R0lGODlhAQATAKIEAGCl0GGm0mGm0WKn0v///wAAAAAAAAAAACH5BAEAAAQALAAAAAABABMAAAMJGAQkTQPKqEQCADs=);
}

#wrapper {
  overflow:hidden;
  height: auto;
  min-height: 80%;
}

#content {
  padding: 1em;
}
