body {
  font: 13px helvetica,arial,freesans,clean,sans-serif;
  line-height: 175%;
  background-color: #fff;
  color: #000;
}

a {
  color: #4183C4;
}

a:active, a:hover {
  color: #4183C4;
  text-decoration:none;
}

blockquote {
  margin:0 -5px;
  padding:5px 30px 5px 50px;
  font-size:14px;
}

h1 {
  font-size: 1.25em;
}

h2 {
  font-size: 1em;
  color: #333;
}

p {
  margin-bottom: 1em;
}

pre {
  font-size: 14px;
  margin-bottom: 1em;
  padding: 1em;
  overflow:auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #f1f1f1, #e1e1e1); 
  background-image: -ms-linear-gradient(top, #f1f1f1, #e1e1e1); 
  background-image: -o-linear-gradient(top, #f1f1f1, #e1e1e1); 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e1e1e1)); 
  background-image: -webkit-linear-gradient(top, #f1f1f1, #e1e1e1); 
  background-image: linear-gradient(top, #f1f1f1, #e1e1e1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#e1e1e1');
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

pre.headers {
  margin-bottom: 0;
  border-bottom-width: 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  color: #666;
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #f1f1f1, #e1e1e1); 
  background-image: -ms-linear-gradient(top, #f1f1f1, #e1e1e1); 
  background-image: -o-linear-gradient(top, #f1f1f1, #e1e1e1); 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e1e1e1)); 
  background-image: -webkit-linear-gradient(top, #f1f1f1, #e1e1e1); 
  background-image: linear-gradient(top, #f1f1f1, #e1e1e1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#e1e1e1');
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

pre.highlight {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  background-color: #FAFAFB;
}

pre, code {
  border: 1px solid #cacaca;
  line-height: 1.2em;
}

pre.highlight code { background-color:#fff }

pre.headers code { background-color: transparent; }


pre code {
  border-width: 0px;
}

.terminal {
  background-color: #000;
  color: #eee;
}

ul {
  list-style-type: none;
  margin-bottom: 1em;
}

ul ul {
  padding-left: 1em;
  margin-bottom: 0
}

dt {
  font-weight: bold;
}

dd {
  padding-left: 1em;
  margin-bottom: 1em;
}

dd + dd {
  margin-bottom: 0;
}

.nav li:first-child {
  padding-left: 0;
  background-image: none;
}

.nav li {
  list-style-type: none;
  padding-left: 20px;
  background: 10px 50% no-repeat url(data:image/gif;base64,R0lGODlhAQATAKIEAGCl0GGm0mGm0WKn0v///wAAAAAAAAAAACH5BAEAAAQALAAAAAABABMAAAMJGAQkTQPKqEQCADs=);
}

#header-wrapper {
  padding:1em 0;
  margin-bottom: 0;
  background-color: #F9F9F9;
  border-bottom: solid 1px #ddd;
  clear: both;
  height: 56px;
}

#header {
  margin: 0 auto;
  width: 920px;
}

#header .logo {
  float: left;
}

#header .nav {
  float: right;
}

#header .nav li {
  float: left;
  height: 56px;
  line-height: 56px;
  margin: 2px 0 0 0;
}

#wrapper {
  padding: 20px 0;
  overflow:hidden;
  height: auto;
  min-height: 80%;
  width: 920px;
  margin: 0 auto;
}

#sidebar {
  padding-top: 1em;
}

#footer-wrapper {
  border-top: solid 1px #ddd;
  background-color: #222;
  padding: 1em 0;
  color: #eee;
  height: 4em;
}

#footer {
  font-size: 12px;
  line-height: 100%;
}

#footer .rackspace {
  line-height: 1.5em;
  padding: 1.1em 1em 1em 65px;
  color: #666;
  background: url(/images/rackspace_logo.png) 1.2em 50% no-repeat #f1f1f1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.rackspace a,
.rackspace a:active,
.rackspace a:hover {
  color: #333;
}

#bottom-nav {
  padding-top: 0.9em;
}

#footer .nav,
#footer .nav li {
  margin:0;
}

#footer .nav li {
  display: inline;
  line-height: 2em;
}

/*------------------------------------------------------------------------------
@group Help Sidebar
------------------------------------------------------------------------------*/

.sidebar-shell {
  position: relative;
  float: right;
}

.sidebar-module {
  padding: 3px;
  background: #EEE;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  width: 200px;
  margin-bottom: 20px;
  font-size: 12px;
}

.sidebar-module > ul {
  background: #fafafb;
  border: solid #CACACA;
  border-width: 1px 1px 0px 1px;
  margin-bottom: 0px;
}

.sidebar-module li {
  list-style-type: none;
}

.sidebar-module > ul > li {
  border-bottom: 1px solid #CACACA;
}

.sidebar-module > ul h3 {
  margin: 0px;
  color: #666;
  text-shadow: 1px 1px 0px #fff; 
  background-color: #f1f1f1;
  border-bottom: 1px solid #CACACA;
  background-image: -moz-linear-gradient(top, #f1f1f1, #e1e1e1); 
  background-image: -ms-linear-gradient(top, #f1f1f1, #e1e1e1); 
  background-image: -o-linear-gradient(top, #f1f1f1, #e1e1e1); 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e1e1e1)); 
  background-image: -webkit-linear-gradient(top, #f1f1f1, #e1e1e1); 
  background-image: linear-gradient(top, #f1f1f1, #e1e1e1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#e1e1e1');
  font-size: 14px;
}

.sidebar-module > ul h3:hover {
  text-decoration: none;
  background-color: #e1e1e1;
  background-image: -moz-linear-gradient(top, #e1e1e1, #d1d1d1);
  background-image: -ms-linear-gradient(top, #e1e1e1, #d1d1d1);
  background-image: -o-linear-gradient(top, #e1e1e1, #d1d1d1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#d1d1d1));
  background-image: -webkit-linear-gradient(top, #e1e1e1, #d1d1d1);
  background-image: linear-gradient(top, #e1e1e1, #d1d1d1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e1e1e1', EndColorStr='#d1d1d1');
}


.sidebar-module > ul h3 a {
  padding: 8px 0px 8px 10px;
  color: #666;
  display: block;
  text-decoration: none;
}

.sidebar-module > ul h3:hover a {
  text-decoration: none;
}

.sidebar-module ul ul,
.sidebar-module .spacer {
  display: block;
  margin-bottom: 2px;
  padding: 0px;
}

.sidebar-module ul ul li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e9ecee;
  font-weight: bold;
}
.sidebar-module ul ul li:hover {
  border-top: 1px solid #fafafb;
  border-bottom: 1px solid #e5e8ea;
  background-color: #f0f0f3;
}

.sidebar-module ul ul li a {
  padding: 6px 0px 6px 10px;
  display: block;
  text-decoration: none;
}

.sidebar-module > .status-box {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
}

.sidebar-module > .status-box h4 {
  padding: 8px 10px;
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #f1f1f1, #e1e1e1); 
  background-image: -ms-linear-gradient(top, #f1f1f1, #e1e1e1); 
  background-image: -o-linear-gradient(top, #f1f1f1, #e1e1e1); 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e1e1e1)); 
  background-image: -webkit-linear-gradient(top, #f1f1f1, #e1e1e1); 
  background-image: linear-gradient(top, #f1f1f1, #e1e1e1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#e1e1e1');
  color: #666;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  font-size: 12px;
  border-right: 1px solid #cacaca;
  width: 70px;
  border: solid #CACACA;
  border-width: 1px 0px 1px 1px;
  float: left;
}


.sidebar-module > .status-box a {
  float: left;
  padding: 8px 10px;
  margin: 0px;
  display: block;
  width: 219px;
}

.sidebar-module .all-good a {
  background-color: #b0df90;
  background-image: -moz-linear-gradient(top, #b0df90, #91d265); 
  background-image: -ms-linear-gradient(top, #b0df90, #91d265); 
  background-image: -o-linear-gradient(top, #b0df90, #91d265); 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b0df90), to(#91d265)); 
  background-image: -webkit-linear-gradient(top, #b0df90, #91d265); 
  background-image: linear-gradient(top, #b0df90, #91d265);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b0df90', EndColorStr='#91d265');
  border: solid #9abe85;
  border-width: 1px;
  padding-left: 10px;
  color: #2e5a00;
  font-weight: bold;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.sidebar-module .all-good a:hover {
  background-color: #a3da7e;
  background-image: -moz-linear-gradient(top, #a3da7e, #7fcb55); 
  background-image: -ms-linear-gradient(top, #a3da7e, #7fcb55); 
  background-image: -o-linear-gradient(top, #a3da7e, #7fcb55); 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7fcb55), to(#91d265)); 
  background-image: -webkit-linear-gradient(top, #a3da7e, #7fcb55); 
  background-image: linear-gradient(top, #a3da7e, #7fcb55);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#a3da7e', EndColorStr='#7fcb55');
  text-decoration: none;
}
/* @end */

/*------------------------------------------------------------------------------
@group content
------------------------------------------------------------------------------*/

#content {
  padding: 1em 0;
  width: 675px;
  position: relative;
  float: left;
  color: #393939;
}

#content em {
  color: #666;
}

#content h1 {
  font-size: 20px;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0px 20px;
}

#content h2 {
  font-size: 16px;
  color: #666;
  margin: 2em auto 1em;
}

#content h3 {
  font-size: 14px;
  color: #333;
  margin: 1.5em 0 .5em;
}

#content h5 {
  font-size: 13px;
}

#content h6 {
  font-size: 13px;
  color: #666;
}

#content dl {
  margin-left: 10px;
}

#content dt {
  color: #666;
}

#content ul,
#content ol {
  margin-left: 1em;
}

#content ul {
  list-style-type: disc;
}

#content .description {
  margin-left: 20px;
}

#content .verseblock-content {
  padding: 3px;
}

#content .verseblock-content,
#content .sectionbody .dlist dt,
#content p > tt,
#content dl code,
#content ul code {
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace !important;
  color: #52595d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 0px 3px;
  display: inline-block;
}

#content .sectionbody .dlist dt {
  margin-top: 10px;
}

#content .verseblock-content {
  padding: 3px;
}

/* @end */